@import "const";

.cookie {
  background: $background_dark;
  width: 100%;
  padding: 20px;
  height: 30px;
  @include flex-centered;

  span {
    color: $font_color;
    font-size: 11px;

    a {
      color: $link_color;
    }
  }
}
